<h1 class="f4 bold center mw5">{{header}}</h1>
<ul id="list" class="list pl0 ml0 center mw5 ba b--light-silver br3">
  {{#each books}}
  <li class="ph3 pv2 bb b--light-silver">{{this.name}}</li>
  {{/each}}
</ul>